* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    /* display: flex; */
    background: rgba(229, 84, 115, 0.10);


}

.banner {
    background-image: url(../images/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 197px 0 147px 240px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 708px;


}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin-top: 32px;
}

.primary-btn {
    color: white;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    margin-top: 32px;
    font-size: 20px;
}

.feat-container {
    display: flex;
    align-content: space-between;
    gap: 24px;
    padding: 48px 240px 0 240px;


}

.flower-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
}

.flower-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 78px 51px 76px;
}

.flower-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 78px 0 76px;
}

.featured {
    text-align: center;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 178px;
}

.section-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.flower-des {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 24px;
}

.service-cointainer {
    display: flex;
    /* text-align: center; */
    gap: 100px;
    padding: 86px 175px;

}

.service {

    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px;
}

.ser-des {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;

}

.deal-container {
    display: flex;
    text-align: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* gap: 186px; */
    background-image: url(../images/pngwing\ 8.png);
    background-repeat: no-repeat;
    background-position: 75%;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.deal-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 594px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 24px;
}

.deal-info {
    padding: 230px 900px 230px 393px;

}

.deal {
    text-align: center;
}

.deal-img {
    padding-top: 100px;
}

.insta-container {
    display: flex;
    align-content: space-between;
    gap: 24px;
    padding: 48px 240px 0 240px;
}

.instagram {
    text-align: center;
    margin-top: 128px;
}

.insta-title,
.promo-title {
    color: #272727;

    font-size: 40px;

    font-weight: 800;

}

.insta-description,
.promo-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 594px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 24px;
}

.promo-detail {
    text-align: center;
    margin-top: 128px;
    background-image: url(../images/Rectangle\ 9.png);
    padding: 122px 287px;
}

.promo-mail {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    /* flex-shrink: 0; */
    /* padding-top:22x ; */
    padding-left: 22px ;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}